PORT=3000

# Configuración de PostgreSQL (Debe coincidir con tu docker-compose.dev.yml)
DB_HOST=db-users-dev
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres_password
DB_NAME=users_db

# Control de TypeORM (En desarrollo se sincroniza automáticamente)
DB_SYNCHRONIZE=true